In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import time
from sklearn import preprocessing
import matplotlib

In [2]:
data = pd.read_csv('fulldataset2020.csv')
data = data.drop(columns=data.columns[0])
data.head()

,index,influenza st pop,influenza dis pop,cc dis pop,flu st pop,flu symp st pop,influenza vaccine vacc pop,prevent flu st pop,YEAR,WEEK,Total Cases
0,2005-03-13,5.0,5.0,58.0,1.0,2.0,1.0,6.0,2005.0,11.0,1108.0
1,2005-03-20,6.0,5.0,56.0,1.0,2.0,1.0,0.0,2005.0,12.0,869.0
2,2005-03-27,4.0,4.0,52.0,1.0,1.0,1.0,3.0,2005.0,13.0,567.0
3,2005-04-03,5.0,4.0,50.0,1.0,1.0,0.0,0.0,2005.0,14.0,355.0
4,2005-04-10,5.0,4.0,46.0,1.0,1.0,1.0,6.0,2005.0,15.0,176.0

# Shift by 1 Week

In [47]:
cases = data[['YEAR','WEEK','Total Cases']]

In [48]:
st = data[['index','influenza st pop','influenza dis pop','cc dis pop','flu st pop','flu symp st pop','influenza vaccine vacc pop','prevent flu st pop']]

In [49]:
st.head()

,index,influenza st pop,influenza dis pop,cc dis pop,flu st pop,flu symp st pop,influenza vaccine vacc pop,prevent flu st pop
0,2005-03-13,5.0,5.0,58.0,1.0,2.0,1.0,6.0
1,2005-03-20,6.0,5.0,56.0,1.0,2.0,1.0,0.0
2,2005-03-27,4.0,4.0,52.0,1.0,1.0,1.0,3.0
3,2005-04-03,5.0,4.0,50.0,1.0,1.0,0.0,0.0
4,2005-04-10,5.0,4.0,46.0,1.0,1.0,1.0,6.0

In [50]:
cases.head()

     YEAR  WEEK  Total Cases
0  2005.0  11.0       1108.0
1  2005.0  12.0        869.0
2  2005.0  13.0        567.0
3  2005.0  14.0        355.0
4  2005.0  15.0        176.0

In [51]:
i = st.shape[0]

In [52]:
st=st.drop(i-1)

In [53]:
cases=cases.drop(0)

In [54]:
cases

       YEAR  WEEK  Total Cases
1    2005.0  12.0        869.0
2    2005.0  13.0        567.0
3    2005.0  14.0        355.0
4    2005.0  15.0        176.0
5    2005.0  16.0        123.0
6    2005.0  17.0         69.0
7    2005.0  18.0         51.0
8    2005.0  19.0         37.0
9    2005.0  20.0         39.0
10   2005.0  21.0         31.0
11   2005.0  22.0         23.0
12   2005.0  23.0         12.0
13   2005.0  24.0         15.0
14   2005.0  25.0         11.0
15   2005.0  26.0          7.0
16   2005.0  27.0          5.0
17   2005.0  28.0          2.0
18   2005.0  29.0          3.0
19   2005.0  30.0          2.0
20   2005.0  31.0          0.0
21   2005.0  32.0          4.0
22   2005.0  33.0          6.0
23   2005.0  34.0          4.0
24   2005.0  35.0          6.0
25   2005.0  36.0          1.0
26   2005.0  37.0          5.0
27   2005.0  38.0          2.0
28   2005.0  39.0          7.0
29   2005.0  40.0         11.0
30   2005.0  41.0         12.0
..      ...   ...          ...
750  2019.0  31.0        189.0
751  2019.0  32.0        166.0
752  2019.0  33.0        173.0
753  2019.0  34.0        210.0
754  2019.0  35.0        363.0
755  2019.0  36.0        366.0
756  2019.0  37.0        332.0
757  2019.0  38.0        415.0
758  2019.0  39.0        476.0
759  2019.0  40.0        260.0
760  2019.0  41.0        327.0
761  2019.0  42.0        359.0
762  2019.0  43.0        555.0
763  2019.0  44.0        777.0
764  2019.0  45.0       1489.0
765  2019.0  46.0       2124.0
766  2019.0  47.0       3479.0
767  2019.0  48.0       3870.0
768  2019.0  49.0       4885.0
769  2019.0  50.0       7250.0
770  2019.0  51.0      12246.0
771  2019.0  52.0      17213.0
772  2020.0   1.0      15264.0
773  2020.0   2.0      13977.0
774  2020.0   3.0      15674.0
775  2020.0   4.0      17777.0
776  2020.0   5.0      21202.0
777  2020.0   6.0      20931.0
778  2020.0   7.0      19454.0
779  2020.0   8.0      11249.0

[779 rows x 3 columns]

In [55]:
st=st.reset_index()

In [56]:
cases=cases.reset_index()

In [57]:
cases=cases.reset_index()
# yes, I deliberately reset cases' index twice
cases.head()

   level_0  index    YEAR  WEEK  Total Cases
0        0      1  2005.0  12.0        869.0
1        1      2  2005.0  13.0        567.0
2        2      3  2005.0  14.0        355.0
3        3      4  2005.0  15.0        176.0
4        4      5  2005.0  16.0        123.0

In [58]:
st.head()

,level_0,index,influenza st pop,influenza dis pop,cc dis pop,flu st pop,flu symp st pop,influenza vaccine vacc pop,prevent flu st pop
0,0,2005-03-13,5.0,5.0,58.0,1.0,2.0,1.0,6.0
1,1,2005-03-20,6.0,5.0,56.0,1.0,2.0,1.0,0.0
2,2,2005-03-27,4.0,4.0,52.0,1.0,1.0,1.0,3.0
3,3,2005-04-03,5.0,4.0,50.0,1.0,1.0,0.0,0.0
4,4,2005-04-10,5.0,4.0,46.0,1.0,1.0,1.0,6.0

In [61]:
shifted_data_1 = pd.concat([cases,st],axis=1)

In [62]:
shifted_data_1.head()

,level_0,index,YEAR,WEEK,Total Cases,level_0,index,influenza st pop,influenza dis pop,cc dis pop,flu st pop,flu symp st pop,influenza vaccine vacc pop,prevent flu st pop
0,0,1,2005.0,12.0,869.0,0,2005-03-13,5.0,5.0,58.0,1.0,2.0,1.0,6.0
1,1,2,2005.0,13.0,567.0,1,2005-03-20,6.0,5.0,56.0,1.0,2.0,1.0,0.0
2,2,3,2005.0,14.0,355.0,2,2005-03-27,4.0,4.0,52.0,1.0,1.0,1.0,3.0
3,3,4,2005.0,15.0,176.0,3,2005-04-03,5.0,4.0,50.0,1.0,1.0,0.0,0.0
4,4,5,2005.0,16.0,123.0,4,2005-04-10,5.0,4.0,46.0,1.0,1.0,1.0,6.0

In [63]:
shifted_data_1=shifted_data_1.drop(columns='level_0')
shifted_data_1.head()

,index,YEAR,WEEK,Total Cases,index,influenza st pop,influenza dis pop,cc dis pop,flu st pop,flu symp st pop,influenza vaccine vacc pop,prevent flu st pop
0,1,2005.0,12.0,869.0,2005-03-13,5.0,5.0,58.0,1.0,2.0,1.0,6.0
1,2,2005.0,13.0,567.0,2005-03-20,6.0,5.0,56.0,1.0,2.0,1.0,0.0
2,3,2005.0,14.0,355.0,2005-03-27,4.0,4.0,52.0,1.0,1.0,1.0,3.0
3,4,2005.0,15.0,176.0,2005-04-03,5.0,4.0,50.0,1.0,1.0,0.0,0.0
4,5,2005.0,16.0,123.0,2005-04-10,5.0,4.0,46.0,1.0,1.0,1.0,6.0

In [64]:
shifted_data_1.to_csv("2020shiftedByOneWeek.csv")

# Shift By 2 Weeks

In [70]:
cases = data[['YEAR','WEEK','Total Cases']]
st = data[['index','influenza st pop','influenza dis pop','cc dis pop','flu st pop','flu symp st pop','influenza vaccine vacc pop','prevent flu st pop']]
i = st.shape[0]
st=st.drop([i-1,i-2])
cases=cases.drop([0,1])
st=st.reset_index()
cases=cases.reset_index()
cases=cases.reset_index()
# yes, I deliberately reset cases' index twice
cases.head()
shifted_data_2 = pd.concat([cases,st],axis=1)
shifted_data_2=shifted_data_2.drop(columns='level_0')
shifted_data_2.to_csv("2020shiftedByTwoWeeks.csv")

In [71]:
shifted_data_2

,index,YEAR,WEEK,Total Cases,index,influenza st pop,influenza dis pop,cc dis pop,flu st pop,flu symp st pop,influenza vaccine vacc pop,prevent flu st pop
0,2,2005.0,13.0,567.0,2005-03-13,5.000000,5.000000,58.000000,1.000000,2.000000,1.000000,6.000000
1,3,2005.0,14.0,355.0,2005-03-20,6.000000,5.000000,56.000000,1.000000,2.000000,1.000000,0.000000
2,4,2005.0,15.0,176.0,2005-03-27,4.000000,4.000000,52.000000,1.000000,1.000000,1.000000,3.000000
3,5,2005.0,16.0,123.0,2005-04-03,5.000000,4.000000,50.000000,1.000000,1.000000,0.000000,0.000000
4,6,2005.0,17.0,69.0,2005-04-10,5.000000,4.000000,46.000000,1.000000,1.000000,1.000000,6.000000
5,7,2005.0,18.0,51.0,2005-04-17,5.000000,3.000000,39.000000,1.000000,1.000000,1.000000,0.000000
6,8,2005.0,19.0,37.0,2005-04-24,5.000000,3.000000,42.000000,1.000000,1.000000,1.000000,0.000000
7,9,2005.0,20.0,39.0,2005-05-01,4.000000,3.000000,40.000000,1.000000,1.000000,1.000000,0.000000
8,10,2005.0,21.0,31.0,2005-05-08,4.000000,2.000000,38.000000,1.000000,1.000000,0.000000,3.000000
9,11,2005.0,22.0,23.0,2005-05-15,4.000000,2.000000,37.000000,1.000000,1.000000,0.000000,0.000000
10,12,2005.0,23.0,12.0,2005-05-22,4.000000,2.000000,35.000000,1.000000,0.000000,0.000000,3.000000
11,13,2005.0,24.0,15.0,2005-05-29,2.000000,2.000000,33.000000,1.000000,1.000000,1.000000,0.000000
12,14,2005.0,25.0,11.0,2005-06-05,2.000000,2.000000,32.000000,0.000000,0.000000,1.000000,0.000000
13,15,2005.0,26.0,7.0,2005-06-12,2.000000,2.000000,32.000000,0.000000,0.000000,1.000000,0.000000
14,16,2005.0,27.0,5.0,2005-06-19,2.000000,2.000000,31.000000,1.000000,1.000000,1.000000,0.000000
15,17,2005.0,28.0,2.0,2005-06-26,2.000000,2.000000,33.000000,0.000000,1.000000,1.000000,0.000000
16,18,2005.0,29.0,3.0,2005-07-03,2.000000,2.000000,34.000000,0.000000,1.000000,1.000000,0.000000
17,19,2005.0,30.0,2.0,2005-07-10,2.000000,2.000000,28.000000,0.000000,1.000000,0.000000,0.000000
18,20,2005.0,31.0,0.0,2005-07-17,3.000000,2.000000,26.000000,1.000000,1.000000,1.000000,3.000000
19,21,2005.0,32.0,4.0,2005-07-24,2.000000,2.000000,31.000000,1.000000,1.000000,1.000000,3.000000
20,22,2005.0,33.0,6.0,2005-07-31,2.000000,2.000000,33.000000,1.000000,1.000000,1.000000,0.000000
21,23,2005.0,34.0,4.0,2005-08-07,2.000000,2.000000,33.000000,1.000000,1.000000,1.000000,3.000000
22,24,2005.0,35.0,6.0,2005-08-14,2.000000,2.000000,30.000000,1.000000,0.000000,1.000000,0.000000
23,25,2005.0,36.0,1.0,2005-08-21,3.000000,2.000000,36.000000,1.000000,1.000000,1.000000,0.000000
24,26,2005.0,37.0,5.0,2005-08-28,3.000000,2.000000,35.000000,1.000000,1.000000,2.000000,0.000000
25,27,2005.0,38.0,2.0,2005-09-04,3.000000,3.000000,47.000000,1.000000,1.000000,2.000000,3.000000
26,28,2005.0,39.0,7.0,2005-09-11,5.000000,4.000000,43.000000,1.000000,1.000000,4.000000,2.000000
27,29,2005.0,40.0,11.0,2005-09-18,5.000000,6.000000,49.000000,2.000000,1.000000,5.000000,5.000000
28,30,2005.0,41.0,12.0,2005-09-25,7.000000,8.000000,49.000000,3.000000,2.000000,11.000000,5.000000
29,31,2005.0,42.0,25.0,2005-10-02,10.000000,16.000000,49.000000,7.000000,2.000000,23.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
748,750,2019.0,31.0,189.0,2019-07-14,0.857246,1.160714,20.571457,0.238104,0.000000,0.888898,0.857145
749,751,2019.0,32.0,166.0,2019-07-21,0.857246,1.160714,25.714321,0.238104,0.000000,0.888898,1.714291
750,752,2019.0,33.0,173.0,2019-07-28,0.857246,1.160714,20.571457,0.000000,0.000000,0.888898,0.857145
751,753,2019.0,34.0,210.0,2019-08-04,0.428623,1.160714,25.714321,0.238104,0.363648,1.777796,0.000000
752,754,2019.0,35.0,363.0,2019-08-11,0.428623,2.321429,36.000049,0.238104,0.000000,4.444490,1.714291
753,755,2019.0,36.0,366.0,2019-08-18,1.285869,3.482143,51.428642,0.714313,0.363648,7.111184,3.428582
754,756,2019.0,37.0,332.0,2019-08-25,1.285869,4.642857,66.857235,0.952417,0.363648,9.777878,1.714291
755,757,2019.0,38.0,415.0,2019-09-01,1.714492,6.964286,82.285827,1.190521,0.727297,15.111265,1.714291
756,758,2019.0,39.0,476.0,2019-09-08,2.571737,10.446429,92.571556,1.904833,1.090945,24.889143,4.285727
757,759,2019.0,40.0,260.0,2019-09-15,3.428983,13.928572,118.285877,2.857250,1.454594,36.444816,5.142873
758,760,2019.0,41.0,327.0,2019-09-22,3.857606,19.732144,123.428741,4.047771,2.181891,53.333878,6.857164
759,761,2019.0,42.0,359.0,2019-09-29,4.714852,24.375001,123.428741,4.762083,2.181891,70.222939,7.714309
760,762,2019.0,43.0,555.0,2019-10-06,5.143475,30.178573,128.571605,5.952604,2.909188,85.334204,7.714309
761,763,2019.0,44.0,777.0,2019-10-13,4.714852,27.857144,144.000198,5.714500,2.909188,78.223020,8.571455
762,764,2019.0,45.0,1489.0,2019-10-20,4.714852,25.535715,133.714469,5.238292,3.272836,68.445143,9.428600
763,765,2019.0,46.0,2124.0,2019-10-27,4.714852,22.053572,154.285926,4.285875,2.909188,54.222776,7.714309
764,766,2019.0,47.0,3479.0,2019-11-03,5.572098,23.214287,174.857383,4.523979,3.636485,48.889388,9.428600
765,767,2019.0,48.0,3870.0,2019-11-10,5.572098,20.892858,200.571704,4.047771,4.000133,40.000408,7.714309
766,768,2019.0,49.0,4885.0,2019-11-17,6.429344,23.214287,185.143111,4.285875,4.363781,33.778122,12.000036
767,769,2019.0,50.0,7250.0,2019-11-24,5.572098,17.410715,180.000247,3.571563,4.000133,22.222449,8.571455
768,770,2019.0,51.0,12246.0,2019-12-01,9.001081,22.053572,216.000296,4.285875,5.091078,24.000245,10.285745
769,771,2019.0,52.0,17213.0,2019-12-08,10.715573,25.535715,205.714568,5.000188,5.818375,24.889143,15.428618
770,772,2020.0,1.0,15264.0,2019-12-15,14.573179,31.339287,267.428938,6.428813,8.000266,23.111347,19.714345
771,773,2020.0,2.0,13977.0,2019-12-22,20.145277,42.946430,339.429037,8.333646,11.636751,18.666857,26.571509
772,774,2020.0,3.0,15674.0,2019-12-29,20.145277,41.785716,349.714765,8.333646,10.909454,19.555755,23.142927
773,775,2020.0,4.0,17777.0,2020-01-05,19.716654,40.625002,277.714667,8.095542,10.545805,23.111347,23.142927
774,776,2020.0,5.0,21202.0,2020-01-12,24.002883,42.946430,226.286025,8.095542,10.909454,23.111347,27.428655
775,777,2020.0,6.0,20931.0,2020-01-19,29.146358,52.232145,262.286074,9.762271,10.909454,20.444653,31.714382
776,778,2020.0,7.0,19454.0,2020-01-26,39.861931,71.964288,272.571802,13.571938,13.454993,23.111347,55.714455
777,779,2020.0,8.0,11249.0,2020-02-02,37.718817,66.160717,272.571802,12.381417,13.818641,17.777959,38.571545

# Shift Data By 3 Weeks

In [72]:
cases = data[['YEAR','WEEK','Total Cases']]
st = data[['index','influenza st pop','influenza dis pop','cc dis pop','flu st pop','flu symp st pop','influenza vaccine vacc pop','prevent flu st pop']]
i = st.shape[0]
st=st.drop([i-1,i-2,i-3])
cases=cases.drop([0,1,2])
st=st.reset_index()
cases=cases.reset_index()
cases=cases.reset_index()
# yes, I deliberately reset cases' index twice
shifted_data_3 = pd.concat([cases,st],axis=1)
shifted_data_3=shifted_data_3.drop(columns='level_0')
shifted_data_3.to_csv("2020shiftedByThreeWeeks.csv")

In [74]:
shifted_data_3

,index,YEAR,WEEK,Total Cases,index,influenza st pop,influenza dis pop,cc dis pop,flu st pop,flu symp st pop,influenza vaccine vacc pop,prevent flu st pop
0,3,2005.0,14.0,355.0,2005-03-13,5.000000,5.000000,58.000000,1.000000,2.000000,1.000000,6.000000
1,4,2005.0,15.0,176.0,2005-03-20,6.000000,5.000000,56.000000,1.000000,2.000000,1.000000,0.000000
2,5,2005.0,16.0,123.0,2005-03-27,4.000000,4.000000,52.000000,1.000000,1.000000,1.000000,3.000000
3,6,2005.0,17.0,69.0,2005-04-03,5.000000,4.000000,50.000000,1.000000,1.000000,0.000000,0.000000
4,7,2005.0,18.0,51.0,2005-04-10,5.000000,4.000000,46.000000,1.000000,1.000000,1.000000,6.000000
5,8,2005.0,19.0,37.0,2005-04-17,5.000000,3.000000,39.000000,1.000000,1.000000,1.000000,0.000000
6,9,2005.0,20.0,39.0,2005-04-24,5.000000,3.000000,42.000000,1.000000,1.000000,1.000000,0.000000
7,10,2005.0,21.0,31.0,2005-05-01,4.000000,3.000000,40.000000,1.000000,1.000000,1.000000,0.000000
8,11,2005.0,22.0,23.0,2005-05-08,4.000000,2.000000,38.000000,1.000000,1.000000,0.000000,3.000000
9,12,2005.0,23.0,12.0,2005-05-15,4.000000,2.000000,37.000000,1.000000,1.000000,0.000000,0.000000
10,13,2005.0,24.0,15.0,2005-05-22,4.000000,2.000000,35.000000,1.000000,0.000000,0.000000,3.000000
11,14,2005.0,25.0,11.0,2005-05-29,2.000000,2.000000,33.000000,1.000000,1.000000,1.000000,0.000000
12,15,2005.0,26.0,7.0,2005-06-05,2.000000,2.000000,32.000000,0.000000,0.000000,1.000000,0.000000
13,16,2005.0,27.0,5.0,2005-06-12,2.000000,2.000000,32.000000,0.000000,0.000000,1.000000,0.000000
14,17,2005.0,28.0,2.0,2005-06-19,2.000000,2.000000,31.000000,1.000000,1.000000,1.000000,0.000000
15,18,2005.0,29.0,3.0,2005-06-26,2.000000,2.000000,33.000000,0.000000,1.000000,1.000000,0.000000
16,19,2005.0,30.0,2.0,2005-07-03,2.000000,2.000000,34.000000,0.000000,1.000000,1.000000,0.000000
17,20,2005.0,31.0,0.0,2005-07-10,2.000000,2.000000,28.000000,0.000000,1.000000,0.000000,0.000000
18,21,2005.0,32.0,4.0,2005-07-17,3.000000,2.000000,26.000000,1.000000,1.000000,1.000000,3.000000
19,22,2005.0,33.0,6.0,2005-07-24,2.000000,2.000000,31.000000,1.000000,1.000000,1.000000,3.000000
20,23,2005.0,34.0,4.0,2005-07-31,2.000000,2.000000,33.000000,1.000000,1.000000,1.000000,0.000000
21,24,2005.0,35.0,6.0,2005-08-07,2.000000,2.000000,33.000000,1.000000,1.000000,1.000000,3.000000
22,25,2005.0,36.0,1.0,2005-08-14,2.000000,2.000000,30.000000,1.000000,0.000000,1.000000,0.000000
23,26,2005.0,37.0,5.0,2005-08-21,3.000000,2.000000,36.000000,1.000000,1.000000,1.000000,0.000000
24,27,2005.0,38.0,2.0,2005-08-28,3.000000,2.000000,35.000000,1.000000,1.000000,2.000000,0.000000
25,28,2005.0,39.0,7.0,2005-09-04,3.000000,3.000000,47.000000,1.000000,1.000000,2.000000,3.000000
26,29,2005.0,40.0,11.0,2005-09-11,5.000000,4.000000,43.000000,1.000000,1.000000,4.000000,2.000000
27,30,2005.0,41.0,12.0,2005-09-18,5.000000,6.000000,49.000000,2.000000,1.000000,5.000000,5.000000
28,31,2005.0,42.0,25.0,2005-09-25,7.000000,8.000000,49.000000,3.000000,2.000000,11.000000,5.000000
29,32,2005.0,43.0,14.0,2005-10-02,10.000000,16.000000,49.000000,7.000000,2.000000,23.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
747,750,2019.0,31.0,189.0,2019-07-07,0.857246,1.160714,25.714321,0.238104,0.000000,0.888898,1.714291
748,751,2019.0,32.0,166.0,2019-07-14,0.857246,1.160714,20.571457,0.238104,0.000000,0.888898,0.857145
749,752,2019.0,33.0,173.0,2019-07-21,0.857246,1.160714,25.714321,0.238104,0.000000,0.888898,1.714291
750,753,2019.0,34.0,210.0,2019-07-28,0.857246,1.160714,20.571457,0.000000,0.000000,0.888898,0.857145
751,754,2019.0,35.0,363.0,2019-08-04,0.428623,1.160714,25.714321,0.238104,0.363648,1.777796,0.000000
752,755,2019.0,36.0,366.0,2019-08-11,0.428623,2.321429,36.000049,0.238104,0.000000,4.444490,1.714291
753,756,2019.0,37.0,332.0,2019-08-18,1.285869,3.482143,51.428642,0.714313,0.363648,7.111184,3.428582
754,757,2019.0,38.0,415.0,2019-08-25,1.285869,4.642857,66.857235,0.952417,0.363648,9.777878,1.714291
755,758,2019.0,39.0,476.0,2019-09-01,1.714492,6.964286,82.285827,1.190521,0.727297,15.111265,1.714291
756,759,2019.0,40.0,260.0,2019-09-08,2.571737,10.446429,92.571556,1.904833,1.090945,24.889143,4.285727
757,760,2019.0,41.0,327.0,2019-09-15,3.428983,13.928572,118.285877,2.857250,1.454594,36.444816,5.142873
758,761,2019.0,42.0,359.0,2019-09-22,3.857606,19.732144,123.428741,4.047771,2.181891,53.333878,6.857164
759,762,2019.0,43.0,555.0,2019-09-29,4.714852,24.375001,123.428741,4.762083,2.181891,70.222939,7.714309
760,763,2019.0,44.0,777.0,2019-10-06,5.143475,30.178573,128.571605,5.952604,2.909188,85.334204,7.714309
761,764,2019.0,45.0,1489.0,2019-10-13,4.714852,27.857144,144.000198,5.714500,2.909188,78.223020,8.571455
762,765,2019.0,46.0,2124.0,2019-10-20,4.714852,25.535715,133.714469,5.238292,3.272836,68.445143,9.428600
763,766,2019.0,47.0,3479.0,2019-10-27,4.714852,22.053572,154.285926,4.285875,2.909188,54.222776,7.714309
764,767,2019.0,48.0,3870.0,2019-11-03,5.572098,23.214287,174.857383,4.523979,3.636485,48.889388,9.428600
765,768,2019.0,49.0,4885.0,2019-11-10,5.572098,20.892858,200.571704,4.047771,4.000133,40.000408,7.714309
766,769,2019.0,50.0,7250.0,2019-11-17,6.429344,23.214287,185.143111,4.285875,4.363781,33.778122,12.000036
767,770,2019.0,51.0,12246.0,2019-11-24,5.572098,17.410715,180.000247,3.571563,4.000133,22.222449,8.571455
768,771,2019.0,52.0,17213.0,2019-12-01,9.001081,22.053572,216.000296,4.285875,5.091078,24.000245,10.285745
769,772,2020.0,1.0,15264.0,2019-12-08,10.715573,25.535715,205.714568,5.000188,5.818375,24.889143,15.428618
770,773,2020.0,2.0,13977.0,2019-12-15,14.573179,31.339287,267.428938,6.428813,8.000266,23.111347,19.714345
771,774,2020.0,3.0,15674.0,2019-12-22,20.145277,42.946430,339.429037,8.333646,11.636751,18.666857,26.571509
772,775,2020.0,4.0,17777.0,2019-12-29,20.145277,41.785716,349.714765,8.333646,10.909454,19.555755,23.142927
773,776,2020.0,5.0,21202.0,2020-01-05,19.716654,40.625002,277.714667,8.095542,10.545805,23.111347,23.142927
774,777,2020.0,6.0,20931.0,2020-01-12,24.002883,42.946430,226.286025,8.095542,10.909454,23.111347,27.428655
775,778,2020.0,7.0,19454.0,2020-01-19,29.146358,52.232145,262.286074,9.762271,10.909454,20.444653,31.714382
776,779,2020.0,8.0,11249.0,2020-01-26,39.861931,71.964288,272.571802,13.571938,13.454993,23.111347,55.714455