In [7]:
#import needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [8]:
old = pd.read_csv('2003-2015dat.csv')
new = pd.read_csv('2015-2019dat.csv')

In [9]:
old.head()

,Unnamed: 0,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,PERCENT POSITIVE,TOTAL A,TOTAL B
0,0,National,X,2003,40,1430,1.53846,21,1
1,1,National,X,2003,41,1682,4.57788,77,0
2,2,National,X,2003,42,2176,11.62680,252,1
3,3,National,X,2003,43,2568,17.83490,454,4
4,4,National,X,2003,44,2753,19.43330,535,0

In [10]:
new.head()

,Unnamed: 0,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,PERCENT POSITIVE,TOTAL A,TOTAL B,PERCENT A,PERCENT B
0,0,National,X,2015,40,12029,1.05578,84,43,0.698312,0.357469
1,1,National,X,2015,41,13111,1.29662,116,54,0.884753,0.411868
2,2,National,X,2015,42,13441,1.10855,97,52,0.721672,0.386876
3,3,National,X,2015,43,13537,1.10807,98,52,0.723942,0.384132
4,4,National,X,2015,44,14687,1.12344,97,68,0.660448,0.462994

In [13]:
dadat = pd.concat([old,new],axis=0,sort=False)

In [14]:
dadat=dadat.drop(['Unnamed: 0'],axis=1)

In [16]:
dadat.reset_index(drop=True,inplace=True)

In [17]:
dadat

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,PERCENT POSITIVE,TOTAL A,TOTAL B,PERCENT A,PERCENT B
0,National,X,2003,40,1430,1.538460,21,1,NaN,NaN
1,National,X,2003,41,1682,4.577880,77,0,NaN,NaN
2,National,X,2003,42,2176,11.626800,252,1,NaN,NaN
3,National,X,2003,43,2568,17.834900,454,4,NaN,NaN
4,National,X,2003,44,2753,19.433300,535,0,NaN,NaN
5,National,X,2003,45,3553,24.261200,859,3,NaN,NaN
6,National,X,2003,46,4595,28.095800,1289,2,NaN,NaN
7,National,X,2003,47,5942,33.120200,1960,8,NaN,NaN
8,National,X,2003,48,6479,34.743000,2241,10,NaN,NaN
9,National,X,2003,49,9598,34.059200,3237,32,NaN,NaN
10,National,X,2003,50,12422,32.925500,4061,29,NaN,NaN
11,National,X,2003,51,11783,30.798600,3609,20,NaN,NaN
12,National,X,2003,52,9748,24.733300,2395,16,NaN,NaN
13,National,X,2003,53,8461,20.104000,1689,12,NaN,NaN
14,National,X,2004,1,6936,12.427900,853,9,NaN,NaN
15,National,X,2004,2,5411,9.332840,500,5,NaN,NaN
16,National,X,2004,3,4329,6.006010,257,3,NaN,NaN
17,National,X,2004,4,4166,3.984640,163,3,NaN,NaN
18,National,X,2004,5,3661,2.922700,105,2,NaN,NaN
19,National,X,2004,6,3530,1.841360,60,5,NaN,NaN
20,National,X,2004,7,3136,1.785710,48,8,NaN,NaN
21,National,X,2004,8,2559,1.484960,26,12,NaN,NaN
22,National,X,2004,9,2651,0.678989,10,8,NaN,NaN
23,National,X,2004,10,2369,0.590967,8,6,NaN,NaN
24,National,X,2004,11,2239,0.580616,11,2,NaN,NaN
25,National,X,2004,12,1801,1.332590,9,15,NaN,NaN
26,National,X,2004,13,1850,0.918919,8,9,NaN,NaN
27,National,X,2004,14,1778,0.506187,1,8,NaN,NaN
28,National,X,2004,15,1564,0.959079,3,12,NaN,NaN
29,National,X,2004,16,1449,1.656310,13,11,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
795,National,X,2018,52,43184,16.388000,6842,235,15.84380,0.544183
796,National,X,2019,1,44183,12.165300,5234,141,11.84620,0.319127
797,National,X,2019,2,41406,12.746900,5065,213,12.23250,0.514418
798,National,X,2019,3,41806,16.342200,6652,180,15.91160,0.430560
799,National,X,2019,4,43939,19.422400,8293,241,18.87390,0.548488
800,National,X,2019,5,48292,22.527500,10602,277,21.95390,0.573594
801,National,X,2019,6,53615,25.112400,13057,407,24.35330,0.759116
802,National,X,2019,7,52829,26.019800,13246,500,25.07330,0.946450
803,National,X,2019,8,53646,26.244300,13618,461,25.38490,0.859337
804,National,X,2019,9,52837,26.101000,13362,429,25.28910,0.811931
805,National,X,2019,10,52933,25.643700,13148,426,24.83890,0.804791
806,National,X,2019,11,53092,26.165900,13336,556,25.11870,1.047240
807,National,X,2019,12,48494,22.505900,10309,605,21.25830,1.247580
808,National,X,2019,13,42603,19.346100,7655,587,17.96820,1.377840
809,National,X,2019,14,36528,14.958400,4881,583,13.36240,1.596040
810,National,X,2019,15,31513,11.903000,3196,555,10.14180,1.761180
811,National,X,2019,16,27909,8.599380,1891,509,6.77559,1.823780
812,National,X,2019,17,24584,5.833060,1027,407,4.17751,1.655550
813,National,X,2019,18,19767,4.800930,627,322,3.17195,1.628980
814,National,X,2019,19,17399,3.873790,402,272,2.31048,1.563310
815,National,X,2019,20,16716,3.565450,332,264,1.98612,1.579330
816,National,X,2019,21,15389,3.418030,271,255,1.76100,1.657030
817,National,X,2019,22,14108,3.090450,212,224,1.50269,1.587750
818,National,X,2019,23,12368,2.813710,141,207,1.14004,1.673670
819,National,X,2019,24,11143,2.351250,128,134,1.14870,1.202550
820,National,X,2019,25,10235,1.944310,109,90,1.06497,0.879336
821,National,X,2019,26,8944,2.101970,93,95,1.03980,1.062160
822,National,X,2019,27,8201,2.487500,120,84,1.46324,1.024270
823,National,X,2019,28,7873,2.146580,91,78,1.15585,0.990728
824,National,X,2019,29,6010,2.645590,84,75,1.39767,1.247920

In [18]:
dadat.to_csv('final_truth_dat.csv')