# Predicting Number of Flu Cases in US

I tried here; but this data is too tricky to work with, so I'm going to take a look and see if I can find a better data set.

In [6]:
# imports
import pandas as pd
import numpy as np
import os
import nibabel as nib
import matplotlib.pyplot as plt
import time
from sklearn import preprocessing

In [161]:
cdc_data = pd.read_csv('NewCDCData/WHO_NREVSS_Clinical_Labs.csv')
cdc_data.head(10)

                                                                                        *Beginning for the 2015-16 season, reports from public health and clinical laboratories are presented separately in the weekly influenza update, FluView. Data from clinical laboratories include the weekly total number of specimens tested, the number of positive influenza test, and the percent positive by influenza type.
REGION TYPE REGION YEAR WEEK TOTAL SPECIMENS TOTAL A TOTAL B PERCENT POSITIVE PERCENT A                                          PERCENT B
National    X      2015 40   12029           84      43      1.05578          0.698312                                            0.357469
                        41   13111           116     54      1.29662          0.884753                                            0.411868
                        42   13441           97      52      1.10855          0.721672                                            0.386876
                        43   13537           98      52      1.10807          0.723942                                            0.384132
                        44   14687           97      68      1.12344          0.660448                                            0.462994
                        45   15048           122     86      1.38224          0.810739                                            0.571505
                        46   15250           84      98      1.19344          0.55082                                             0.642623
                        47   15234           119     92      1.38506          0.781147                                            0.603912
                        48   16201           145     81      1.39498          0.895006                                            0.499969

In [16]:
cdc_dat = pd.read_csv('NewCDCData/WHO_NREVSS_Combined_prior_to_2015_16.csv')

In [17]:
cdc_dat.head()

                                                                                                                                              *Beginning for the 2015-16 season, reports from public health and clinical laboratories are presented separately in the weekly influenza update, FluView.  This data file includes only data prior to the 2015-16 influenza season, and will be presented with the public health and clinical labs combined.
REGION TYPE REGION YEAR WEEK TOTAL SPECIMENS PERCENT POSITIVE A (2009 H1N1) A (H1) A (H3) A (Subtyping not Performed) A (Unable to Subtype) B                                              H3N2v
National    X      2003 40   1430            1.53846          0             0      2      19                          0                     1                                                  0
                        41   1682            4.57788          0             0      3      74                          0                     0                                                  0
                        42   2176            11.6268          0             0      17     235                         0                     1                                                  0
                        43   2568            17.8349          0             0      56     398                         0                     4                                                  0

In [25]:
virus_vbw = pd.read_csv('VirusViewByWeek.csv')

In [26]:
virus_vbw

      Year   Week                    Virus  0-4 yr  5-24 yr  25-64 yr  65+ yr
0     2019     40                   A (H3)       4       10        15      20
1     2019     41                   A (H3)       2       12        12      27
2     2019     42                   A (H3)      14       15        20      26
3     2019     43                   A (H3)       4       13        23      22
4     2019     44                   A (H3)       7       13        16      17
5     2019     45                   A (H3)       6       23        11      15
6     2019     46                   A (H3)      13        4        11      21
7     2019     47                   A (H3)       6       20        23      20
8     2019     48                   A (H3)      12       21        19      22
9     2019     49                   A (H3)      13       16        22      24
10    2019     50                   A (H3)       9       16        23      25
11    2019     51                   A (H3)       6       13        12      14
12    2019     52                   A (H3)       9       11        19      33
13    2020      1                   A (H3)       8       10        36      29
14    2020      2                   A (H3)       6       13        23      26
15    2020      3                   A (H3)       5       18        12      15
16    2020      4                   A (H3)       4       20         7      15
17    2020      5                   A (H3)       2       11         5       7
18    2019     40            A (H1N1)pdm09       3        7        10       1
19    2019     41            A (H1N1)pdm09       5        6        11       8
20    2019     42            A (H1N1)pdm09       3       11        16       3
21    2019     43            A (H1N1)pdm09       4       13        25       3
22    2019     44            A (H1N1)pdm09       6       12        22       4
23    2019     45            A (H1N1)pdm09       4       20        52       9
24    2019     46            A (H1N1)pdm09      18       29        54      20
25    2019     47            A (H1N1)pdm09      38       42        92      25
26    2019     48            A (H1N1)pdm09      51       81       133      48
27    2019     49            A (H1N1)pdm09      67       98       190      59
28    2019     50            A (H1N1)pdm09      77      162       235      72
29    2019     51            A (H1N1)pdm09      97      239       361      94
...    ...    ...                      ...     ...      ...       ...     ...
4461  2004     10  B (Lineage Unspecified)       0        0         2       0
4462  2004     11  B (Lineage Unspecified)       0        0         0       0
4463  2004     12  B (Lineage Unspecified)       1        1         0       7
4464  2004     13  B (Lineage Unspecified)       2        1         0       2
4465  2004     14  B (Lineage Unspecified)       1        0         0       2
4466  2004     15  B (Lineage Unspecified)       0        0         3       3
4467  2004     16  B (Lineage Unspecified)       1        0         2       0
4468  2004     17  B (Lineage Unspecified)       1        0         1       0
4469  2004     18  B (Lineage Unspecified)       0        0         0       1
4470  2004     19  B (Lineage Unspecified)       0        0         0       0
4471  2004     20  B (Lineage Unspecified)       0        1         1       0
4472  2004     21  B (Lineage Unspecified)       0        1         1       0
4473  2004     22  B (Lineage Unspecified)       0        1         0       0
4474  2004     23  B (Lineage Unspecified)       0        2         0       0
4475  2004     24  B (Lineage Unspecified)       1        0         0       0
4476  2004     25  B (Lineage Unspecified)       1        0         0       0
4477  2004     26  B (Lineage Unspecified)       0        1         1       0
4478  2004     27  B (Lineage Unspecified)       0        1         0       0
4479  2004     28  B (Lineage Unspecified)       0        0         1       0
4480  2004     29  B (Lineage Unspecified)       0        2         0       0
4481  2004     30  B (Lineage Unspecified)       0        0         0       0
4482  2004     31  B (Lineage Unspecified)       0        0         0       0
4483  2004     32  B (Lineage Unspecified)       0        0         0       0
4484  2004     33  B (Lineage Unspecified)       0        1         0       0
4485  2004     34  B (Lineage Unspecified)       0        0         0       0
4486  2004     35  B (Lineage Unspecified)       0        0         0       0
4487  2004     36  B (Lineage Unspecified)       0        1         0       0
4488  2004     37  B (Lineage Unspecified)       0        0         0       0
4489  2004     38  B (Lineage Unspecified)       0        0         1       0
4490  2004     39  B (Lineage Unspecified)       0        1         0       0

[4491 rows x 7 columns]

In [141]:
for col in virus_vbw.columns:
    print(col)

Year
 Week
 Virus
0-4 yr
5-24 yr
25-64 yr
65+ yr

In [28]:
virus_vbw.head(39)

,Year,Week,Virus,0-4 yr,5-24 yr,25-64 yr,65+ yr
0,2019,40,A (H3),4,10,15,20
1,2019,41,A (H3),2,12,12,27
2,2019,42,A (H3),14,15,20,26
3,2019,43,A (H3),4,13,23,22
4,2019,44,A (H3),7,13,16,17
5,2019,45,A (H3),6,23,11,15
6,2019,46,A (H3),13,4,11,21
7,2019,47,A (H3),6,20,23,20
8,2019,48,A (H3),12,21,19,22
9,2019,49,A (H3),13,16,22,24
10,2019,50,A (H3),9,16,23,25
11,2019,51,A (H3),6,13,12,14
12,2019,52,A (H3),9,11,19,33
13,2020,1,A (H3),8,10,36,29
14,2020,2,A (H3),6,13,23,26
15,2020,3,A (H3),5,18,12,15
16,2020,4,A (H3),4,20,7,15
17,2020,5,A (H3),2,11,5,7
18,2019,40,A (H1N1)pdm09,3,7,10,1
19,2019,41,A (H1N1)pdm09,5,6,11,8
20,2019,42,A (H1N1)pdm09,3,11,16,3
21,2019,43,A (H1N1)pdm09,4,13,25,3
22,2019,44,A (H1N1)pdm09,6,12,22,4
23,2019,45,A (H1N1)pdm09,4,20,52,9
24,2019,46,A (H1N1)pdm09,18,29,54,20
25,2019,47,A (H1N1)pdm09,38,42,92,25
26,2019,48,A (H1N1)pdm09,51,81,133,48
27,2019,49,A (H1N1)pdm09,67,98,190,59
28,2019,50,A (H1N1)pdm09,77,162,235,72
29,2019,51,A (H1N1)pdm09,97,239,361,94
30,2019,52,A (H1N1)pdm09,129,199,462,244
31,2020,1,A (H1N1)pdm09,115,136,508,252
32,2020,2,A (H1N1)pdm09,104,196,461,192
33,2020,3,A (H1N1)pdm09,145,278,511,216
34,2020,4,A (H1N1)pdm09,128,254,505,185
35,2020,5,A (H1N1)pdm09,58,165,273,129
36,2019,40,A (Subtyping not Performed),4,17,0,0
37,2019,41,A (Subtyping not Performed),3,13,4,2
38,2019,42,A (Subtyping not Performed),0,1,1,0

In [155]:
num = 0
index=0
virus_1920AH3 = virus_vbw[num:(num+18)]
virus_1920AH3['sum']=virus_1920AH3['0-4 yr']+virus_1920AH3['5-24 yr']+virus_1920AH3['25-64 yr']+virus_1920AH3['65+ yr']
ah3 = virus_1920AH3.iloc[index][2]
virus_1920AH3[ah3]=virus_1920AH3['sum']
virus_1920AH3.drop([' Virus','sum','65+ yr','25-64 yr','5-24 yr','0-4 yr'],axis=1,inplace=True)
virus_1920AH3

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Year   Week  A (H3)
0   2019     40      49
1   2019     41      53
2   2019     42      75
3   2019     43      62
4   2019     44      53
5   2019     45      55
6   2019     46      49
7   2019     47      69
8   2019     48      74
9   2019     49      75
10  2019     50      73
11  2019     51      45
12  2019     52      72
13  2020      1      83
14  2020      2      68
15  2020      3      50
16  2020      4      46
17  2020      5      25

In [156]:
num=num+18
virus_ = virus_vbw[num:(num+18)]
virus_['sum']=virus_['0-4 yr']+virus_['5-24 yr']+virus_['25-64 yr']+virus_['65+ yr']
a = virus_.iloc[index][2]
virus_[a]=virus_['sum']
virus_.drop([' Virus','sum','65+ yr','25-64 yr','5-24 yr','0-4 yr'],axis=1,inplace=True)
virus_

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

    Year   Week  A (H1N1)pdm09
18  2019     40             21
19  2019     41             30
20  2019     42             33
21  2019     43             45
22  2019     44             44
23  2019     45             85
24  2019     46            121
25  2019     47            197
26  2019     48            313
27  2019     49            414
28  2019     50            546
29  2019     51            791
30  2019     52           1034
31  2020      1           1011
32  2020      2            953
33  2020      3           1150
34  2020      4           1072
35  2020      5            625

In [159]:
new_inds = np.arange(18)
virus_ = virus_.reindex(new_inds)
virus_

    Year   Week  A (H1N1)pdm09
0    NaN    NaN            NaN
1    NaN    NaN            NaN
2    NaN    NaN            NaN
3    NaN    NaN            NaN
4    NaN    NaN            NaN
5    NaN    NaN            NaN
6    NaN    NaN            NaN
7    NaN    NaN            NaN
8    NaN    NaN            NaN
9    NaN    NaN            NaN
10   NaN    NaN            NaN
11   NaN    NaN            NaN
12   NaN    NaN            NaN
13   NaN    NaN            NaN
14   NaN    NaN            NaN
15   NaN    NaN            NaN
16   NaN    NaN            NaN
17   NaN    NaN            NaN

In [110]:
num=num+18
virus_1920AH3 = virus_vbw[num:(num+18)]
virus_1920AH3

     Year   Week          Virus  0-4 yr  5-24 yr  25-64 yr  65+ yr
180  2019      8  A (H1N1)pdm09     165      339       591     268
181  2019      9  A (H1N1)pdm09     196      265       527     244
182  2019     10  A (H1N1)pdm09     165      251       521     235
183  2019     11  A (H1N1)pdm09     129      184       452     210
184  2019     12  A (H1N1)pdm09      85      109       314     168
185  2019     13  A (H1N1)pdm09      53       83       205      98
186  2019     14  A (H1N1)pdm09      33       44       132      82
187  2019     15  A (H1N1)pdm09      19       36        84      54
188  2019     16  A (H1N1)pdm09       8       21        62      30
189  2019     17  A (H1N1)pdm09      10       12        42      20
190  2019     18  A (H1N1)pdm09       8        9        31       7
191  2019     19  A (H1N1)pdm09       3       11        18      11
192  2019     20  A (H1N1)pdm09       4       10        20       3
193  2019     21  A (H1N1)pdm09       3        8        10       4
194  2019     22  A (H1N1)pdm09       3        4        10       2
195  2019     23  A (H1N1)pdm09       3        9         9       4
196  2019     24  A (H1N1)pdm09       3        8         7       2
197  2019     25  A (H1N1)pdm09       1        0         6       2